/*****  B A S E S T Y L E S *****/
body {
  font-family: 'Montserrat', sans-serif;
}

/***** G R I D *****/
.full-width{
  width: 1200px;
  margin: 0 auto;
}

.third-width{
  width: 400px;
  float: left;
}

/***** H E A D E R *****/
header {
  height: 100px;
}

header h1 {
  font-weight:700;
  font-size: 30px;
  text-transform: uppercase;
  padding-top:20px;
}

header h1 span {
  color: #77a466;
}

#head {
  width: 1180px;
}

/***** N A V I G A T I O N *****/
nav {
float: right;
margin-top: -60px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #77a466;
  padding-left: 30px;
}

/***** T O P S E C T I O N *****/

#main {
  margin-bottom: 40px;
}

#main h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #77a466;
  font-weight: 600;
}

#main p {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;

}
#main img#main-img {
  border-top: 3px #77a466 solid;
  border-bottom: 3px #77a466 solid;
}

/***** B O T T O M S E C T I O N *****/
.third-width{
  height: 210px;
  border-top: 1px #dedbdc solid;
  border-bottom: 1px #dedbdc solid;
  width: 365px;
}

#reviews {
  border-left: 1px #dedbdc solid;
  border-right: 1px #dedbdc solid;
  padding-left: 20px;
  padding-right: 30px;
}

#contact {
  padding-left: 20px;
  padding-right: 30px;
}
.third-width p {
  font-size: 16px;
  line-height: 21px;
}

.third-width ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.third-width ul li {
  color: #77a466;
}

.third-width h5 {
  text-transform: uppercase;
  font-size: 12px;
}

/***** F O O T E R S E C T I O N *****/
footer {
  padding-top: 30px;
  padding-bottom:30px;
  clear: both;
  text-align:center;
}

footer span {
	font-family: 'Sacramento', cursive;
  color: #77a466;
  text-trasform: lowercase;
}

footer h3 {
  font-size: 16px;
}
